//Includes Global elements as well as Nav IDs  and Icons
nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}
body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-color: white;
 }
 main {
     flex: 1 0 auto;
 }
h1{
  margin-top: 7.1%;
  position: inherit;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

//**Nav IDs**//
#about{
  margin-top: -4%;
  height: 1px;
  position: absolute;
}
#subscribe{
  margin-top: -10%;
  height: 1px;
  position: absolute;
}
#advertise{
  margin-top: 0%;
  height: 1px;
  position: absolute;
}
#contact{
  margin-top: -10%;
  height: 1px;
  position: absolute;
}
