//Middle and Funny Enough Footer Too LOL

//**Icons**//
.fa{
  color: #5accf5;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
i.material-icons{
    color: #5accf5;
}

.beige-back{
  background-color: #eaeaea;
  color: black;
  opacity: 0.8;
  margin-top: -9%;
}
.beige-video{
  background-color: rgba(234, 234, 234, 0.7);
}
.bg-white{
  background-color: white;
}
.call-action{
  background-color: #6b6969;
  color: white;
  padding-bottom: 5px;
}
.youtuber{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ind-logos{
  background-color: white;
  color: black;
}
.proud{
  background-color: red;
}
.naa{
  max-height: 45px;
}
.iaa{
  max-height: 45px;
}
.page-footer{
  margin-top: -36px !important ;
 }
